/* CSS Document */

nav{
	margin-bottom: .5em;
	}

body{ 
background: #E83D40; 
}
nav .col {
	background: #E83D40;
	border: 1px solid #555;
	text-align: center;
	box-sizing: border-box;
	padding: .5em;
	
	article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}



